{% extends 'page_layout.html' %}

{% block content %}
    <h1>Admin dashboard</h1>

    <h2>Posts</h2>
    <a href="/admin/article/create">Create post</a>



    <br><br>

    <h2>Category posts</h2>
    <a href="/admin/article/category/create">Create post category</a>

    <br><br>

    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>
        {% for category in articleCategories %}
            <tr>
                <td>
                    <a href="{{ category.url }}">{{ category.name }}</a>
                </td>
                <td>
                    <a href="#">Edit</a>
                    <a href="/admin/article/category/delete/{{ category._id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
