<!doctype html>

<html lang="fr">
    <head>
    <meta charset="utf-8">

    <title>Cosmo Web</title>
    <meta name="description" content="Cosmo Web Blog">
    <meta name="author" content="Cosmo Web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/one-page.css">

    <!-- TinyMCE -->
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=3xxxtvkcnsu899pcut3ar8tlr22xt7zm6ij3t571jskgg6hy"></script>
    <script>
        tinymce.init({
            selector: '#content'
        });
    </script>

    </head>

    <body>
        {% block content %}

        {% endblock %}
        <script src="js/scripts.js"></script>
    </body>
</html>
