<!doctype html>

<html lang="fr">
    <head>
    <meta charset="utf-8">

    <title>Cosmo Web</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="Cosmo Web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/one-page.css">

    </head>

    <body>
        {% block content %}

        {% endblock %}
        <script src="js/scripts.js"></script>
    </body>
</html>